<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Service Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;
		}
	</style>
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>
		
		<div class="mx-5 mt-5">
			<div class="d-flex">
				<h2 class="flex-grow-1">Service List</h2>
				<a class="btn btn-primary" th:href="@{/admin/services/create}">Create</a>
			</div>
			<div class="mt-4 table-responsive">
				<table class="table table-hover">
					<thead>
						<th>No.</th>
						<th>Service Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Duration</th>
						<th>Image</th>
						<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${services}">
							<td th:text="${item.id}"></td>
							<td th:text="${item.serName}"></td>
							<td>
								<button type="button" data-bs-toggle="popover" title="Content"
									class="btn btn-outline-info" th:data-bs-content="${item.description}">
									Show Description
								</button>
							</td>
							<td th:text="${item.basePrice}"></td>
							<td th:text="${item.duration}"></td>
							<td>
								<img th:if="${item.image != null}" th:src="'/uploads/'+${item.image}" />
								<img th:if="${item.image == null}" th:src="'../../front/img/none-img.png'" />
							</td>
							<td>
								<a class="btn btn-warning" th:href="@{/admin/services/edit(id=${item.id})}">Edit</a>
								<a class="btn btn-danger" th:href="@{/admin/services/deelte(id=${item.id})}">Delete</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

</body>

</html>