<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Staff Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;
		}
	</style>
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>

		<div class="mx-5 mt-5">
			<div class="d-flex">
				<h2 class="flex-grow-1">Staff List</h2>
				<a class="btn btn-primary" th:href="@{/admin/staffs/create_account}">Provide Account</a>
			</div>
			<div class="table-responsive mt-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>Username</th>
							<th>Status</th>
							<th>Job Occupied</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${staffs}">
							<td th:text="${item.id}"></td>
							<td th:text="${item.username}"></td>
							<td th:text="${item.status}"></td>
							<td th:text="${item.jobOccupied}"></td>
							<td>
								<a class="btn btn-outline-info" th:href="@{/admin/staffs/accounts(id=${item.id})}">
									Info
								</a>
								<a class="btn btn-warning" th:if="${item.jobOccupied < 3}"
									th:href="@{/admin/staffs/assignJob(id=${item.id})}">Assign Job</a>
								<a class="btn btn-danger" th:if="${item.jobOccupied > 0}"
									th:href="@{/admin/staffs/replaceStaff(id=${item.id})}">Replace Staff</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

</body>

</html>