<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Change Password</title>
	<style>
		.error-message {
			color: red;
			font-weight: 500;
		}
	</style>
</head>

<body>
	<form th:action="@{/user/newPassword}" method="POST">
		<div th:if="${error}" class="error-message" th:text="${error}"></div>
		<input th:value="${session.phoneNumber}" name="phoneNumber" type="hidden">
		<label for="password">Password</label>
		<input type="password" name="password" required>
		<label for="confirmPassword">confirmPass</label>
		<input type="password" name="ConfirmPass" required>
		<button type="submit">Submit</button>
	</form>
	<script>
		setTimeout(function () {
			document.querySelector('.error-message').innerText = '';
		}, 6000);
	</script>
</body>

</html>