<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Blog Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center;
		}
	</style>
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>

		<div class="mx-5 mt-5">
			<div class="col-12">
				<div class="row">
					<h2 class="mb-4 col-2">Blog List</h2>
					<a class="btn btn-primary mb-4 col-1" th:href="@{/admin/blogs/blogCreate}">Create</a>
					<br class="col-9" />
				</div>
				<div class="table-responsive border-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>No.</th>
								<th>Title</th>
								<th>Content</th>
								<th>Images</th>
								<th>Created Date</th>
								<th>Updated Date</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${blogs}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.title}"></td>
								<td>
									<button type="button" data-bs-toggle="popover" title="Content" class="btn btn-outline-info"
										th:data-bs-content="${item.content}">
										Show Content
									</button>
								</td>
								<td>
									<img th:if="${item.images != null}" th:src="'/uploads/'+${item.images}" />
									<img th:if="${item.images == null}" th:src="'../../front/img/none-img.png'" />
								</td>
								<td th:text="${item.createDate}"></td>
								<td th:text="${item.updateDate}"></td>
								<td>
									<a class="btn btn-warning"
										th:href="@{/admin/blogs/blogEdit(id=${item.id})}">Edit</a>
									<form th:action="@{/admin/blogs/delete}" method="post" style="display: inline;">
										<input type="hidden" name="id" th:value="${item.id}" />
										<button type="submit" class="btn btn-danger">Delete</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
			var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
				return new bootstrap.Popover(popoverTriggerEl)
			})
		});
	</script>
</body>

</html>