<header class="header" th:fragment="adminHeader">
	<div class="container-fluid">
		<div class="d-flex">
			<div class="flex-fill">
				<div class="header-left">
					<div class="menu-toggle-btn">
						<button id="menu-toggle" class="main-btn primary-btn btn-hover">
							<i class="lni lni-chevron-left me-2"></i> 
							Menu
						</button>
					</div>
				</div>
			</div>
			<div class="flex-fill mt-1">
				<div class="header-right">
					<a class="btn btn-outline-danger border-0" th:href="@{/admin/logout}">
						<i class="lni lni-exit"></i>
						Sign Out
					</a>
				</div>
			</div>
		</div>
	</div>
</header>