<header class="mdc-top-app-bar" th:fragment="adminHeader">
	<div class="mdc-top-app-bar__row">
		<div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			<span class="mdc-top-app-bar__title">Cleanex - Dashboard</span>
		</div>
		<div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
			<div class="menu-button-container menu-profile d-none d-md-block">
				<button class="mdc-button mdc-menu-button">
					<span class="d-flex align-items-center">
						<span class="figure">
							<img src="/back/images/none-user.png" />
						</span>
						<span class="user-name" th:text="${admin.username}"></span>
					</span>
				</button>
				<div class="mdc-menu mdc-menu-surface" tabindex="-1">
					<ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
						<li class="mdc-list-item" role="menuitem">
							<div class="item-thumbnail item-thumbnail-icon-only">
								<i class="mdi mdi-account-edit-outline text-primary"></i>
							</div>
							<div class="item-content d-flex align-items-start flex-column justify-content-center">
								<a href="@{/admin/accounts}" class="item-subject font-weight-normal">Your profile</a>
							</div>
						</li>
						<li class="mdc-list-item" role="menuitem">
							<div class="item-thumbnail item-thumbnail-icon-only">
								<i class="mdi mdi-logout text-primary"></i>
							</div>
							<div class="item-content d-flex align-items-start flex-column justify-content-center">
								<a th:href="@{/admin/logout}" class="item-subject font-weight-normal">Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="divider d-none d-md-block"></div>

			<!-- Order Notification -->
			<div class="menu-button-container">
				<button class="mdc-button mdc-menu-button">
					<i class="mdi mdi-bell"></i>
				</button>
				<div class="mdc-menu mdc-menu-surface" tabindex="-1">
					<h6 class="title"> <i class="mdi mdi-bell-outline mr-2 tx-16"></i> Notifications</h6>
					<ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
						<li class="mdc-list-item" role="menuitem">
							<div class="item-thumbnail item-thumbnail-icon">
								<i class="mdi mdi-email-outline"></i>
							</div>
							<div class="item-content d-flex align-items-start flex-column justify-content-center">
								<h6 class="item-subject font-weight-normal">You received a new message</h6>
								<small class="text-muted"> 6 min ago </small>
							</div>
						</li>
						<li class="mdc-list-item" role="menuitem">
							<div class="item-thumbnail item-thumbnail-icon">
								<i class="mdi mdi-account-outline"></i>
							</div>
							<div class="item-content d-flex align-items-start flex-column justify-content-center">
								<h6 class="item-subject font-weight-normal">New user registered</h6>
								<small class="text-muted"> 15 min ago </small>
							</div>
						</li>
						<li class="mdc-list-item" role="menuitem">
							<div class="item-thumbnail item-thumbnail-icon">
								<i class="mdi mdi-alert-circle-outline"></i>
							</div>
							<div class="item-content d-flex align-items-start flex-column justify-content-center">
								<h6 class="item-subject font-weight-normal">System Alert</h6>
								<small class="text-muted"> 2 days ago </small>
							</div>
						</li>
						<li class="mdc-list-item" role="menuitem">
							<div class="item-thumbnail item-thumbnail-icon">
								<i class="mdi mdi-update"></i>
							</div>
							<div class="item-content d-flex align-items-start flex-column justify-content-center">
								<h6 class="item-subject font-weight-normal">You have a new update</h6>
								<small class="text-muted"> 3 days ago </small>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>