<div class="footer" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="footer-contact">
					<h2>Get In Touch</h2>
					<p><i class="fa fa-map-marker-alt"></i>No. 35, D5 Street, 25 Ward, Binh Thanh District, Ho Chi Minh City.</p>
					<p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
					<p><i class="fa fa-envelope"></i>cleanex@gmail.com</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-link">
					<h2>Useful Links</h2>
					<a th:href="@{/service}">Our Services</a>
					<a th:href="@{/article}">Blogs</a>
					<a th:href="@{/about}">About Us</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-link">
					<h2>Useful Link</h2>
					<a href="#ClientReview">Clients Review</a>
					<a th:href="@{/contact}">Contact Us</a>
					<a href="#FAQ">FAQs</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-form">
					<h2>Stay Updated</h2>
					<p>Sign up for our newsletter to receive cleaning tips, special offers, and exclusive discounts
						directly to your inbox.</p>
					<input class="form-control" placeholder="Email here">
					<button class="btn">Send</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container footer-menu">
		<div class="f-menu">
			<a href="#">Terms of use</a>
			<a href="#">Privacy policy</a>
			<a href="#">Cookies</a>
		</div>
	</div>
	<div class="container copyright">
		<div class="row">
			<div class="col-md-6">
				<p>&copy; <a href="https://htmlcodex.com">HTML Codex</a>, All Right Reserved.</p>
			</div>
			<div class="col-md-6">
				<p>Redesigned By Thái Nguyễn</p>
			</div>
		</div>
	</div>
</div>