<div class="container-fluid" th:fragment="header">
	<div class="header-top row align-items-center">
		<div class="col-lg-3">
			<div class="brand">
				<a href="index.html">
					CLEANEX
					<!-- <img src="img/logo.png" alt="Logo"> -->
				</a>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="topbar">
				<div class="topbar-col">
					<a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+012 345 67890</a>
				</div>
				<div class="topbar-col">
					<a href="mailto:info@example.com"><i class="fa fa-envelope"></i>info@example.com</a>
				</div>
				<div class="topbar-col">
					<div class="topbar-social">
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fab fa-youtube"></i></a>
						<a href=""><i class="fab fa-instagram"></i></a>
						<a href=""><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
			<div class="navbar navbar-expand-lg bg-light navbar-light">
				<a href="#" class="navbar-brand">MENU</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
					<div class="navbar-nav ml-auto">
						<a href="index.html" class="nav-item nav-link active">Home</a>
						<a href="about.html" class="nav-item nav-link">About</a>
						<a href="service.html" class="nav-item nav-link">Service</a>
						<a href="portfolio.html" class="nav-item nav-link">Project</a>
						<a href="single.html" class="nav-item nav-link">Single</a>
						<a href="contact.html" class="nav-item nav-link">Contact</a>
						<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item">Sub Item 1</a>
								<a href="#" class="dropdown-item">Sub Item 2</a>
							</div>
						</div>
						<a href="#" class="btn">Get A Quote</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hero row align-items-center">
		<div class="col-md-7">
			<h2>Best & Trusted</h2>
			<h2><span>Cleaning</span> Service</h2>
			<p>Lorem ipsum dolor sit amet elit pretium facilisis ornare</p>
			<a class="btn" href="">Explore Now</a>
		</div>
		<div class="col-md-5">
			<div class="form">
				<h3>Get A Quote</h3>
				<form>
					<input class="form-control" type="text" placeholder="Your Name">
					<input class="form-control" type="text" placeholder="Mobile Number">
					<div class="control-group">
						<select class="custom-select">
							<option selected>Choose a service</option>
							<option value="1">House Cleaning</option>
							<option value="2">Apartment Cleaning</option>
							<option value="3">Office Cleaning</option>
						</select>
					</div>
					<textarea class="form-control" placeholder="Comment"></textarea>
					<button class="btn btn-block">Get A Quote</button>
				</form>
			</div>
		</div>
	</div>
</div>