<div th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="footer-contact">
					<h2>Get In Touch</h2>
					<p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
					<p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
					<p><i class="fa fa-envelope"></i>info@example.com</p>
					<div class="footer-social">
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fab fa-youtube"></i></a>
						<a href=""><i class="fab fa-instagram"></i></a>
						<a href=""><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-link">
					<h2>Useful Link</h2>
					<a href="">About Us</a>
					<a href="">Our Story</a>
					<a href="">Our Services</a>
					<a href="">Our Projects</a>
					<a href="">Contact Us</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-link">
					<h2>Useful Link</h2>
					<a href="">Our Clients</a>
					<a href="">Clients Review</a>
					<a href="">Ongoing Project</a>
					<a href="">Customer Support</a>
					<a href="">FAQs</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-form">
					<h2>Stay Updated</h2>
					<p>
						Lorem ipsum dolor sit amet, adipiscing elit. Etiam accumsan lacus eget velit
					</p>
					<input class="form-control" placeholder="Email here">
					<button class="btn">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container footer-menu">
		<div class="f-menu">
			<a href="">Terms of use</a>
			<a href="">Privacy policy</a>
			<a href="">Cookies</a>
			<a href="">Help & FQAs</a>
			<a href="">Contact us</a>
		</div>
	</div>
	<div class="container copyright">
		<div class="row">
			<div class="col-md-6">
				<p>&copy; <a href="https://htmlcodex.com">HTML Codex</a>, All Right Reserved.</p>
			</div>
			<div class="col-md-6">
				<p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
			</div>
		</div>
	</div>
</div>